temp
*.bkp
.$*
*.pdf
*.doc
*.docx
*.zip
*.7z
*.tar.gz
# 存放到网盘
*-pan
*.mlx
convert.m
*.asv
*.mp4
temp.*
README.*
!README.md
2023-10-31-16-06-13.png
*.ppt
*.pptx
github_repo
*.autosave
*.mat
temp.*
dirty